.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    padding: 10px 20px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer {
    text-align: center;
    background: #f3f3f3;
    padding: 20px;
    margin-top: 50px;
}